<li class="med_buttons" data-id="<%- id %>">
  <a class="button success round right small" href="#" data-reveal-id="medInfoModal"><%- medication.name %></a>
  <div id="medInfoModal" class="reveal-modal label" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-id="<%- id %>">
    <%- console.log(medication.label) %>

    <%= medication.label %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

</li>

