<div class="icon-bar five-up">
  <%= link_to root_path, class: "item", id: "home_img" do %>
      <%= image_tag "", class: "invisible" %>
      <%= label_tag "Home" %>
  <% end %>
  <%= link_to root_path, class:"item" do %>
    <%= image_tag "fi-comments.svg"%>
    <%= label_tag "Forum" %>
  <% end %>
  <%= link_to root_path, class:"item" do %>
    <%= image_tag "fi-guide-dog.svg"%>
    <%= label_tag "Info" %>
 <% end %>
  <%= link_to profile_path, class:"item" do %>
       <%= image_tag "fi-torso.svg"%>
       <%= label_tag "Profile" %>
  <% end %>
  <% if !current_user %>
    <a class="item" href="#" data-reveal-id="myModal">
      <%= image_tag "fi-compass.svg" %>
      <%= label_tag "Sign In" %>
      <%= render 'layouts/signin_modal' %>
    </a>
    <% else %>
      <%= link_to signout_path, class:"item" do %>
       <%= image_tag "fi-eject.svg"%>
       <%= label_tag "Sign Out"%>
      <% end %>
    <% end %>
</div>