<div class="icon-bar five-up icon-text">
  <%= link_to root_path, class: "item" do %>
      <%= label_tag :home, "My Pill Pal", class: "nav-text" %>
  <% end %>
  <%= link_to root_path, class: "item" do %>
    <%= image_tag "fi-comments.svg"%>
    <%= button_tag "Forum", class: "small round info" %>
  <% end %>
  <%= link_to root_path, class: "item" do %>
    <%= image_tag "fi-video.svg"%>
    <%= button_tag "Demo", class: "small round info" %>
 <% end %>
  <% if !current_user %>
    <%= link_to root_path, class: "item" do %>
      <%= image_tag "fi-torso.svg"%>
      <%= button_tag "Profile", class: "small round info" %>
    <% end %>
  <% else %>
    <%= link_to profile_path, class: "item" do %>
      <%= image_tag "fi-torso.svg"%>
      <%= button_tag "Profile", class: "small round info" %>
    <% end %>
  <% end %>
  <% if !current_user %>
    <a class="item" href="#" data-reveal-id="signInModal" id="modal">
      <%= image_tag "fi-compass.svg" %>
      <%= button_tag "Sign In", class: "small round info" %>
      <%= render 'layouts/signin_modal' %>
    </a>
    <% else %>
      <%= link_to signout_path, class: "item" do %>
       <%= image_tag "fi-eject.svg"%>
       <%= button_tag "Sign Out", class: "small round info" %>
      <% end %>
    <% end %>
</div>